header {
    width: 100%;
    background-color: #f8f8f8;
    position: fixed;
    top: 0;
    @media (max-width: 768px) {
        padding: 0;
    }
    .logo {
        max-width: 150px;
        flex-grow: 1;
        &:focus {
            border-radius: .25rem;
            box-shadow: 0 0 1.5px 1px rgba(0,0,0,0.2);
        }
    }
    #nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        @media (max-width: 768px) {
            background-color: #fff;
        }
    }
}