header {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #f8f8f8;
    @media (max-width: 768px) {
        padding: 0;
    }
    .logo {
        max-width: 150px;
        flex-grow: 1;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 768px) {
            height: 5rem;
        }
    }
}