#navbar {
    ul {
        li {
            list-style: none;
            display: inline-block;
            a {
                color: #333;
                transition: .3s all;
                padding: 1.5rem 1.5rem;
                &:hover {
                    color: $primary;
                }
                &:nth-child(1) {
                    margin-left: -1.5rem;
                }
                &.active {
                    color: $primary;
                }
            }
        }
    }
}