#navbar {
    ul {
        li {
            list-style: none;
            display: inline-block;
            // position: relative;
            a {
                color: #333;
                transition: .3s all;
                padding: .5rem .75rem;
                margin: 0 .5rem;
                &:hover {
                    color: $primary;
                }
                &:nth-child(1) {
                    // margin-left: -1.5rem;
                }
                &.active {
                    color: $primary;
                }
            }
            &:nth-child(1) {
                margin-left: -1.25rem;
            }
        }
    }
    .dropdown {
        position: relative;
        &::after {
            content: "x";
            position: absolute;
            right: -.125rem;
            top: 0;
            width: 10px;
            height: 10px;
            opacity: .5;
        }
    }
    .sub-menu {
        position: absolute;
        top: 2rem;
        width: 200px;
        box-shadow: 0 0 .5rem rgba(0,0,0,.1);
        background-color: rgba(255,255,255,.96);
        .sub-menu-item {
            display: block;
            margin: 0;
            padding: 1rem .5rem;
            a {
                margin: 0;
                padding: 1rem;
            }
        }
    }
}