body, html {
	font-family: 'Poppins', sans-serif;
	color: #333;
	font-size: 16px;
}

img {
	max-width: 100%;
}

a {
	color: $primary;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		text-underline-position: under;
	}
	&:focus {
		outline: none;
		color: $primary;
		text-decoration: underline;
		text-underline-position: under;
	}
}

main {
    margin-top: 7rem;
    margin-bottom: 2rem;
}